.articlePageContainer {

 
  display: flex;
  justify-content: center;
}

.articleContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slideshowModal {
  position: absolute;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(66, 66, 66, 0.836) ;
  width: 100%;
  top: 0px;
  height: 100vh;
}