.headerContainer {
  border-bottom: solid 1px rgb(177, 176, 176);
  max-height: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.headerSection {
  width: 100%;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profilePic {
  width: 50px;
}