.headerContainer {
  border-bottom: solid 1px rgb(177, 176, 176);
  max-height: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}



.headerSection {
  width: 100%;
  max-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.cartButton{
  position: relative;
}

.cartQuantity {
  width: 23px;
  height: 15px;
  border-radius: 6px;
  font-size: 12px;
  background-color: orange;
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: -8px;
  right: -5px;
}

.profilePic {
  width: 50px;
}

