#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

body {
 margin: 0  
}

.container {
  max-width: 1240px;
  width: 100%;
}

*{
  list-style: none;
  font-family: "Kumbh Sans";
  text-decoration: none;

}