#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

body {
 margin: 0 ;

}

.container {
  max-width: 1440px;
  width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

*{
  list-style: none;
  font-family: "Kumbh Sans";
  text-decoration: none;

}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button:focus-visible {
  border: solid 3px black;
}
button:active {
  color: black;
  font-weight: 900;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);


}

p {
  font-size: 16px;
}

ul {
  padding: 0;
}

@media screen and (max-width: 650px) {
  .container {
    justify-content: flex-start;
  }
}