.cardList {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  border-radius: 25px;
  margin: 10px;
  max-width: 150px;
  background-color: #F7F8FD;
}

.homePageContainer {
  height: 80%;
}